h1{
  color:red;
  font-size:100px;
}

body{
  background-color: #EDE4E0;
}
.a{font-style: italic;
  color: blue;
}
.b{font-weight: bolder;
color: #38E54D;}
.c{
  color: #256D85;
}
img{background-color: red;}
img:hover{
background-color: pink;
}
